.gradient-button {
    background: linear-gradient(to right, #64d4fa, #4293fb);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif; 
    font-size: 16px;
    margin: 5px;
    padding: 8px 20px; 
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .gradient-button:hover {
    background: linear-gradient(to right, #4293fb, #64d4fa);
  }
  
  .gradient-button:active {
    transform: translateY(2px);
  }
  